<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <h1>Welcome to our website <%= name %></h1>
    <nav>
      <a href="/">Home</a>
      <a href="/login">Login with another account</a>
    </nav>
  </header>
  <main>
    <h2>Messages Sent by Users</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        <% messages.forEach((message) => { %>
          <tr>
            <td><%= message.name %></td>
            <td><%= message.email %></td>
            <td><%= message.content %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </main>
</body>
</html>
