<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <h1>Welcome <%= name %></h1>
    <nav>
      <a href="/">Home</a>
      <a href="/login">Login with another account</a>
      <a href="/logout">Logout (to be added) 🥲</a>
    </nav>
  </header>
  <main>
    <h2>Messages Sent by Users</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        <% messages.forEach((message) => { %>
          <tr>
            <td><%= message.name %></td>
            <td><%= message.content %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <h2>Add a New Message</h2>
    <form action="/" method="post"> 
      <label for="content">Message:</label>
      <input type="text" id="content" name="content" required>
      <br>
      <input type="submit" value="Submit">
    </form>
  </main>
</body>
</html>
